{% extends 'layout.html' %}

{% block body %}
<div class="col-md-12">
	<h1 class="text-center">Bienvenido a la página de inicio de sesión</h1>
<form method="POST" action="{{ url_for('inicio_sesion') }}">
  <div class="form-group row">
  <div class="col-sm-3"></div>  	
    <label for="usuario" class="col-sm-2 col-form-label">Nombre de usuario</label>
	<div class="col-sm-3 ">
    	<input type="text" class="form-control" id="usuario" name="usuario" aria-describedby="usuario" required placeholder="Ingrese su nombre de usuario">
    </div>
  </div>
  <div class="form-group row">
  <div class="col-sm-3"></div>   	
    <label for="contraseña" class="col-sm-2 col-form-label">Contraseña</label>
	<div class="col-sm-3">
    	<input type="password" class="form-control" id="contraseña" name="contraseña" required placeholder="Contraseña">
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success">Ingresar</button>
    <a href="/" class="btn btn-primary">Cancelar</a>
    <a href="/usuario/registro_usuario" class="btn btn-warning">Registrarse</a>
  </div>
</form>
</div>

{% endblock %}